body {
    color: green;
}

p {
    color: red;
}

.leading-p {
    color: blue;
}

.secondary-p {
    color: purple;
}

.blog-post {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
}

#special {
    background-color: purple;
}

div {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    background-color: orange;
    margin: 50px auto 20px auto;
    padding: 10px 20px;
}

* {
    box-sizing: border-box;
}

.this-class {
    background-color: green;
}

.this-class.another-class {
    background-color: blue
}

.parent-div {
    background-color: blue;
    border-color: transparent;
    height: auto;
    width: 40%;
}

.parent-div div {
    background-color: cyan;
}
