body {
    color: green;
}
p {
    color: red;
}

.leading-p {
    color: blue;
}

.secondary-p {
    color: purple;
}

.blog-post {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
}

div {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    background-color: orange;
    margin: 250px;
    padding-top: 50px;
}

* {
    box-sizing: border-box;
}