.picture-body {
    padding : 10px;
    float : left;
}

.picture-group {
    width : 24%;
    border: 1px solid black;
    float : left;
    height : 330px;
    text-align: center;
    padding : 5px;
    overflow : hidden;
}

* {
    box-sizing: border-box;
}